# CMake build folders
build/
cmake-build-*/

# Ignore GoogleTest build cache if it exists
extern/googletest/build/

# CLion/IDEA
.idea/

# macOS
.DS_Store

# Xcode
*.xcodeproj/
*.xcworkspace/
*.xcuserdata/
DerivedData/

# Object and binary files
*.o
*.obj
*.exe
*.out
*.app
*.a
*.lib
*.so
*.dylib
*.dll

# Precompiled headers
*.gch
*.pch
